{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">

    <!-- Ionicons -->
    <link rel="stylesheet"
          href="{{ asset('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') }}">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet"
          href="{{ asset('plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{{ asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <!-- JQVMap -->
    <link rel="stylesheet" href="{{ asset('plugins/jqvmap/jqvmap.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('dist/css/adminlte.min.css') }}">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{{ asset('plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{{ asset('plugins/daterangepicker/daterangepicker.css') }}">
    <!-- summernote -->
    <link rel="stylesheet" href="{{ asset('plugins/summernote/summernote-bs4.css') }}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>

        th {
            background-color: #f7f7f7;
            border-color: #959594;
            border-style: solid;
            border-width: 1px;
            text-align: center;
        }

        .bordered td {
            border-color: #959594;
            border-style: solid;
            border-width: 1px;
        }

        #tab1 {
            border-collapse: collapse;
            width: 100%;
        }

        /* Para sobrescribir lo que está en div-table.css */
        .divTableCell,
        .divTableHead {
            padding: 0px !important;
            border: 0px !important;
        }
    </style>
{% endblock %}
{% block body %}
    <div><span style="float: right; ">Devis N° : {{ devis.id }}-Service :<b>{{ demande.service }}</b></span>Page 1/1</div><hr><br><br>
    <div style="">
            <span style="float: right;">
                <b>Devis</b>
                N° : <b>{{ devis.id }}</b><br>
                Sousse,Tunisie le {{ devis.dateCreation|date('d/m/Y h:m:s', "Etc/UTC") }}
                <div>
                    Prospect : <b>{{ demande.prospect }}</b><br>
                    N° : <b>{{ demande.prospect.id }}</b><br>
                    Adresse : <b>{{ demande.prospect.adresse }}</b>
                </div>
            </span>

        <img src="https://www.zenhosting.tn/wp-content/uploads/2016/03/newlogo.png" id="logo" style="width: 200px ">
        <h3><b>Zenhosting</b></h3>
        <b>Adresse</b> : Bureau 504 ,Imm Louzir ,<br> Avenue Palestine Sahloul 2 Sousse, 4054<br>
        <img src="https://img.icons8.com/nolan/24/email.png"> contact@zenhosting.tn<br>
        <img src="https://img.icons8.com/nolan/24/phone-not-being-used.png"/> (+216) 73.369.270
    </div>
    <br><br><br>
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">
                        <table id="tab1" class="bordered width-100pc">
                        <tr>
                            <th style="text-align: center">Description</th>
                            <th style="text-align: center ">Prix</th>
                        </tr>
                        <tr>
                            <td style="width: 70%">{{ service.nom }}</td>
                            <td >{{ service.prix }} {{ demande.prospect.pays.devise }}</td>
                        </tr>
                        <th colspan="2">Options</th>
                            {% for option in devis.devisOptions %}
                            <table id="tab1" class="bordered width-100pc">
                                <tr>
                                    <td style="width: 70%">{{ option.nom }}</td>
                                    <td>{{ option.prix }} {{ demande.prospect.pays.devise }}</td>
                                </tr>
                            </table>
                            {% endfor %}
                    </table>
                </div>
                <br><br>
            </div>
        </div>
    </div>
    <div style="">
        <span style="float: right;">
            <div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">

                    <div class="divTableCell">
                        <table class="bordered width-100pc">
                            <tr>
                                <th>Total HT</th>
                                <td>{{ devis.totale }} {{ demande.prospect.pays.devise }}</td>
                            </tr>
                            <tr>
                                <th><b>TVA</b> {{ demande.prospect.pays.tva*10 }} %</th>
                                <td>{{ demande.prospect.pays.tva }} {{ demande.prospect.pays.devise }}</td>
                            </tr>
                            <tr>
                                <th>Total TTC</th>
                                <th>{{ demande.prospect.pays.tva*10+devis.totale }} {{ demande.prospect.pays.devise }}</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </span>
        <fieldset style="width: 60%">
                <b>Quelques informations pour vous :</b><br>
                {{ devis.informations|raw }}
        </fieldset><br><br>
        Nous restons à votre disposition pour toute information complémentaire.
        <br>Cordialement,<br>

        Si ce devis vous convient, veuillez nous le retourner signé précédé de la mention :
        "BON POUR ACCORD ET EXECUTION DU DEVIS"<br><br>
        <b>Date :</b> 							            <span style="float: right;"><b>Signature :</b></span><br><br><br><br><br><br>
        <b>NB : Votre demande sera refusée aprés 7 jours de cette date si vous n'aurez pas signer ce devis</b>
    </div>
{% endblock %}

